In [1]:
from bs4 import BeautifulSoup
import requests
import pandas

In [265]:
url = "https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_finals"
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html')

In [267]:
table = soup.find('table',class_="sortable plainrowheaders wikitable")

headers = table.find_all('th')

headers_name = [data.text.strip() for data in headers][:7]

data_frame = pandas.DataFrame(columns=headers_name)

data_in_rows = table.find_all('tr')

In [269]:
for row in data_in_rows[1:-1]:
    th_data = row.find_all('th')[0].find('a').contents[0]
    data = row.find_all('td')[:-1]
    individual_data = [item.text.strip() for item in data]
    individual_data.insert(0,th_data)

    length = len(data_frame)
    data_frame.loc[length] = individual_data

In [271]:
data_frame

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay","68,346"
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy","55,000"
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France","45,000"
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil","173,850"
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland","62,500"
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden","49,737"
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile","68,679"
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England","96,924"
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico","107,412"
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany","78,200"
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina","71,483"
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain","90,000"
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico","114,600"
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy","73,603"
14,1994,Brazil,0–0 (a.e.t.)(3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States","94,194"
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France","80,000"
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan","69,029"
17,2006,Italy,1–1 (a.e.t.)(5–3 pen.),France,Olympiastadion,"Berlin, Germany","69,000"
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa","84,490"
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil","74,738"
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia","78,011"
21,2022,Argentina,3–3 (a.e.t.)(4–2 pen.),France,Lusail Stadium,"Lusail, Qatar","88,966"

In [273]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, 0 to 21
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        22 non-null     object
 1   Winners     22 non-null     object
 2   Score       22 non-null     object
 3   Runners-up  22 non-null     object
 4   Venue       22 non-null     object
 5   Location    22 non-null     object
 6   Attendance  22 non-null     object
dtypes: object(7)
memory usage: 1.4+ KB

In [275]:
data_frame.shape

(22, 7)

In [277]:
data_frame.dtypes

Year          object
Winners       object
Score         object
Runners-up    object
Venue         object
Location      object
Attendance    object
dtype: object

In [279]:
data_frame = data_frame.astype({'Year': 'int32'})
data_frame.dtypes

Year           int32
Winners       object
Score         object
Runners-up    object
Venue         object
Location      object
Attendance    object
dtype: object

In [281]:
data_frame['Attendance']=data_frame['Attendance'].str.replace(',','',regex=True)
data_frame

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden",49737
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile",68679
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain",90000
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy",73603
14,1994,Brazil,0–0 (a.e.t.)(3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France",80000
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan",69029
17,2006,Italy,1–1 (a.e.t.)(5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011
21,2022,Argentina,3–3 (a.e.t.)(4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966

In [283]:
data_frame = data_frame.astype({'Attendance': 'int32'})
data_frame.dtypes

Year           int32
Winners       object
Score         object
Runners-up    object
Venue         object
Location      object
Attendance     int32
dtype: object

In [285]:
#Year of Final with the most Attendance
data_frame.loc[data_frame['Attendance'].idxmax(),'Year']

1950

In [287]:
#Finals with the most Attendance`s
data_frame.sort_values(by='Attendance',ascending=False)

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
3,1950,Uruguay,2–1[n 3],Brazil,Maracanã Stadium,"Rio de Janeiro, Brazil",173850
12,1986,Argentina,3–2,West Germany,Estadio Azteca,"Mexico City, Mexico",114600
8,1970,Brazil,4–1,Italy,Estadio Azteca,"Mexico City, Mexico",107412
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924
14,1994,Brazil,0–0 (a.e.t.)(3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194
11,1982,Italy,3–1,West Germany,Santiago Bernabéu,"Madrid, Spain",90000
21,2022,Argentina,3–3 (a.e.t.)(4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490
15,1998,France,3–0,Brazil,Stade de France,"Saint-Denis, France",80000
9,1974,West Germany,2–1,Netherlands,Olympiastadion,"Munich, West Germany",78200
20,2018,France,4–2,Croatia,Luzhniki Stadium,"Moscow, Russia",78011
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738
13,1990,West Germany,1–0,Argentina,Stadio Olimpico,"Rome, Italy",73603
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483
16,2002,Brazil,2–0,Germany,International Stadium,"Yokohama, Japan",69029
17,2006,Italy,1–1 (a.e.t.)(5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000
6,1962,Brazil,3–1,Czechoslovakia,Estadio Nacional,"Santiago, Chile",68679
0,1930,Uruguay,4–2,Argentina,Estadio Centenario,"Montevideo, Uruguay",68346
4,1954,West Germany,3–2,Hungary,Wankdorf Stadium,"Bern, Switzerland",62500
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000
5,1958,Brazil,5–2,Sweden,Råsunda Stadium,"Solna, Sweden",49737
2,1938,Italy,4–2,Hungary,Stade Olympique de Colombes,"Paris, France",45000

In [289]:
#Countries with the most World Cup`s
data_frame.groupby('Winners')[['Year']].count().sort_values(by='Year',ascending=False)

              Year
Winners
Brazil           5
Italy            4
Argentina        3
West Germany     3
France           2
Uruguay          2
England          1
Germany          1
Spain            1

In [291]:
#Countries with the most losses in World Cup finals
data_frame.groupby('Runners-up')[['Year']].count().sort_values(by='Year',ascending=False)

                Year
Runners-up
Argentina          3
Netherlands        3
West Germany       3
Brazil             2
Czechoslovakia     2
France             2
Hungary            2
Italy              2
Croatia            1
Germany            1
Sweden             1

In [293]:
#Finals that have gone to extra time 
data_frame[data_frame['Score'].str.contains('a.e.t')]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
1,1934,Italy,2–1 (a.e.t.),Czechoslovakia,Stadio Nazionale PNF,"Rome, Italy",55000
7,1966,England,4–2 (a.e.t.),West Germany,Wembley Stadium,"London, England",96924
10,1978,Argentina,3–1 (a.e.t.),Netherlands,Estadio Monumental,"Buenos Aires, Argentina",71483
14,1994,Brazil,0–0 (a.e.t.)(3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194
17,2006,Italy,1–1 (a.e.t.)(5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000
18,2010,Spain,1–0 (a.e.t.),Netherlands,Soccer City,"Johannesburg, South Africa",84490
19,2014,Germany,1–0 (a.e.t.),Argentina,Maracanã Stadium,"Rio de Janeiro, Brazil",74738
21,2022,Argentina,3–3 (a.e.t.)(4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966

In [295]:
#Finals that have gone to the penalty shoot-out 
data_frame[data_frame['Score'].str.contains('pen')]

,Year,Winners,Score,Runners-up,Venue,Location,Attendance
14,1994,Brazil,0–0 (a.e.t.)(3–2 pen.),Italy,Rose Bowl,"Pasadena, California, United States",94194
17,2006,Italy,1–1 (a.e.t.)(5–3 pen.),France,Olympiastadion,"Berlin, Germany",69000
21,2022,Argentina,3–3 (a.e.t.)(4–2 pen.),France,Lusail Stadium,"Lusail, Qatar",88966

In [321]:
data_frame.to_csv('Fifa_WCFinals.csv', sep='\t', encoding='utf-8', index=False, header=True)